/* h2 {
    background-color: black;
    color: aqua;
    width: 80%;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 1s steps(50) infinite alternate-reverse;


}

p {
    font-size: 10px;
    color: black;
    background-color: white;
    width: 100%;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 1s steps(50) infinite alternate-reverse;


}
@keyframes typing {
    from{
        width: 0%;
    }
}

.helloworld {
    background-color: black;
    color: rgb(255, 0, 115);
    width: 80%;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 0.9s steps(90) infinite reverse;
    text-align: center;

}

@keyframes typing {
    from {
        width: 0%;
    }

} */